<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>perso.logement.QueryAnnonceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatServlet</servlet-name>
        <servlet-class>perso.logement.StatAnnonceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnnonceServlet</servlet-name>
        <servlet-class>perso.logement.AddAnnonceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedAnnonce</servlet-name>
        <servlet-class>perso.logement.FeedAnnonceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnnonce</servlet-name>
        <servlet-class>perso.logement.DeleteAnnonceServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AnnonceServlet</servlet-name>
        <servlet-class>perso.logement.service.AnnonceServiceImpl</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>perso.logement.service.AnnonceServiceImpl</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UpdateStatisticServlet</servlet-name>
        <servlet-class>perso.logement.UpdateStatisticServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FeedAnnonce</servlet-name>
        <url-pattern>/feedAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnnonceServlet</servlet-name>
        <url-pattern>/addAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnnonce</servlet-name>
        <url-pattern>/deleteAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnonceServlet</servlet-name>
        <url-pattern>/perso_logement/getAnnonces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/perso_stat/getAnnonces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatisticServlet</servlet-name>
        <url-pattern>/updateStats</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>list-logement.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
</web-app>